---
import Layout from "../layouts/Layout.astro";
import { GenerationForm } from "../components/generate/GenerationForm";
---

<Layout title="Generate Flashcards">
  <main class="container mx-auto py-8 px-4">
    <h1 class="text-3xl font-bold mb-8">Generate Flashcards</h1>
    <div class="max-w-3xl mx-auto">
      <GenerationForm client:load />
    </div>
  </main>
</Layout>
